body{
    padding: 50px;
    min-height: 100vh;
   background-image:url(img/top-view-pink-key.jpg ), linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)) ;
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center ;
    
}
.container{
    border-radius: 6px;
    max-width:400px;
    margin:0 auto;
    padding: 50px;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow:rgb(45, 73, 92) 0px 7px 29px 0px;
    
    
}
.group{
    margin-bottom:30px;
}
h4{
    text-align: center;
    margin-bottom: 30px;
}
a{
    text-decoration: none;
}